* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
ul {
  list-style-type: none;
}

.todo-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ff7f58;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.todo-form__input {
  border: none;
  padding: 5px;
  width: 300px;
}

.todo-form__button {
  border: none;
  padding: 5px;
  width: 100px;
}

.todo-form__label {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
}

.header-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.list__link:nth-child(odd) {
  background-color: #f9f9f9;
}

.list__link:nth-child(even) {
  background-color: #eee;
}

@mixin link-a() {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.list__a {
  padding: 7px 15px 7px 35px;
  text-decoration: none;
  color: inherit;
  @include link-a();
}

.list__a--cross {
  @include link-a();

  transition: 300ms;
  color: white;
  background-color: #5a5a5a;

  & .list__a {
    text-decoration: line-through;
  }

  &::before {
    content: "✓";
    position: absolute;
    left: 10px;
    top: 4px;
  }
}

.list__li {
  color: black;
  display: flex;
  justify-content: space-between;
}

.list__link {
  display: block;
  text-decoration: none;

  &:hover {
    transition: 500ms;
    background-color: #bbbbbb;
  }
}

.list__button {
  width: 35px;
  border: none;
  background-color: inherit;
  color: inherit;

  &:hover {
    background-color: rgb(209, 38, 38);
    transition: 500ms;
    color: gainsboro;
  }
}

.todo-form__button {
  height: inherit;
  font-size: 10px;
}

.header-form__input {
  display: flex;
}

.list__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-checked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-check {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.btn-check {
  height: 50px;
  max-width: 100px;
  background-color: #f3f3f31e;
  border: 1px solid black;
  transition: 300ms;


  &:hover {
    transition: 500ms;
    background-color: #f3f3f3a8;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}